
  
<main>
  
     
    <form action="/" method="POST">
  <label for="destination"><b>WHERE</b></label><br>
  <select id="destination" name="destination">
 <option value="" disabled selected> Anywhere</option>
  <option value="Alberta">Alberta</option>
  <option value="Saskatchewan">Saskatchewan</option>
  <option value="Ontario">Ontario</option>
  <option value="Manitoba">Manitoba</option>
</select><br>
<div class= "form-group">
<label for="check-in-date"><b>CHECK-IN</b></label><br>
  <input type="date" id="check-in-date" name="date">
</div>
  
  <div class="form-group">
<label for="checkout"><b>CHECK-OUT</b></label><br>
 <input type="date" id="checkout" name="date1">

  </div>
  <br>

  <div class="form-group">
      <label for="guests"><b>GUESTS</b></label><br>
  <select id="guests" name="guests">
  <option value="1">1 Guest</option>
  <option value="2">2 Guests</option>
  <option value="3">3 Guests</option>
  <option value="4">4 Guests</option>
</select>
  </div>
  
<br>
  
  <button type="submit" class="btn-search">Search</button> 
</form> 
<div class= "banner">
<img src = 'https://jeremynoronha.com/wp-content/uploads/airbnb-coupon-code.jpg' alt = "AirBnb" width="400" height = "400">
</div>
<div class="info">
<iframe width="560" height="315" src="https://www.youtube.com/embed/evqnIKVX8RM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>


</main>
  
