<div id="error" role="alert">
     
     {{errorMessage1}}
     

</div>

<form action="/login" method="POST">
  <div class="form-group">
  <input type="email" id="email" name="email" placeholder="Email Address"><br>
   <input type="password" id="pwd" name="pwd" placeholder="Password"><br>
    <button type="submit" class="btn-Login">Log In</button>
  </div>
</form> 
